.header {
  padding: 10px;
}

.activities, .donation, .contact {
  margin: 0;
  padding: 10px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer .social-media {
  flex: 1;
}

.footer .quick-links {
  flex: 1;
}

.footer .copyright-donation {
  flex: 1;
}