<?php
// SERVER TEMPLATE: Move this file to /home/noorgeec/kwa.env.php and remove .example
define('GH_TOKEN', 'ghp_YOUR_VALID_TOKEN_HERE'); 
define('DEPLOY_KEY', '123'); // Login Password
define('REPO_PATH', '/home/noorgeec/repositories/kwa');
define('LIVE_PATH', '/home/noorgeec/kwa.com.pk');
define('BRANCH', 'main');
?>
